<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>FAILURE</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
                         integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


</head>

<body>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Ah Oh !</h1>
      <p class="lead">There was problem signing up,it seems like you did dome mistake.Please try again or contact the developer</p>
      <br> <br>
      <form  action="/failure" method="post">
        <button  class="btn btn-lg btn-dark"type="submit" name="submit"style="margin-right: 20px;">Try again</button>
        <button  class="btn btn-lg btn-dark"type="submit" name="submit" onclick="window.open('mailto:your@email.address?subject=Comments about the color blue');">Contact developer</button>
      </form>
    </div>

  </div>

</body>

</html>
